<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../asset/speed_show.png" />
    <link rel="stylesheet" href="../style/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.min.css"
    />
    <title>Speed Showroom</title>
  </head>
  <body class="container-fluid h-100 p-0">
    <header
      style="border-color: #0e8ed7 !important; z-index: 5"
      class="container-fluid bg-light d-none d-lg-flex justify-content-center py-3 border-top border-5 shadow-sm position-fixed"
    >
      <section
        class="container-xxl d-flex flex-row justify-content-between align-items-center"
      >
        <div class="d-flex align-items-center">
          <img
            style="width: 60px"
            class="img-fluid"
            src="../asset/speed_show.png"
            alt="shoroom logo"
          />
          <a href="../index.html" class="h3 text-decoration-none ms-3 fw-bold">
            <span style="color: #f5a841;">Speed</span>
            <span style="color: #000;">Showroom</span>
          </a>
        </div>
        <a href="account.html">
          <img
            style="width: 45px; cursor: pointer"
            class="img-fluid rounded-5"
            src="../asset/developer.webp"
            alt=""
          />
        </a>
      </section>
    </header>
    <header
      style="border-color: #0e8ed7 !important; z-index: 5"
      class="container-fluid d-block d-lg-none p-0 px-3 py-3 m-0 bg-light shadow-sm position-fixed border-top border-5"
    >
      <div
        class="row flex-row justify-content-between align-items-center p-0 m-0"
      >
        <div
          class="col-5 col-sm-3 col-md-2 d-flex flex-row align-items-center p-0"
        >
          <img class="col-4 img-fluid" src="../asset/logo.webp" alt="" />
          <a
            href="../index.html"
            class="h3 text-decoration-none ms-2 m-0 fw-bold d-flex flex-row"
          >
          <span style="color: #f5a841;">Speed</span>
          <span style="color: #000;">Showroom</span>
          </a>
        </div>
        <div class="col-auto d-flex justify-content-center p-0">
          <a href="account.html">
            <img
              style="width: 45px; cursor: pointer"
              class="img-fluid rounded-5"
              src="../asset/developer.webp"
              alt=""
            />
          </a>
        </div>
      </div>
    </header>
    <main
      style="height: auto !important; padding: 100px 0 !important"
      class="container-fluid h-100 m-0 p-0 d-flex justify-content-center"
    >
      <div
        class="container-lg row justify-content-start justify-content-xl-between align-items-start p-0 px-3 gap-md-5 gap-xl-0"
      >
        <div
          class="d-flex d-lg-none flex-row justify-content-between align-items-center p-0"
        >
        </div>
        <div class="col-12 col-md-5 col-lg-6 col-xl-4 p-0">
          <img
            class="col-sm-8 col-md-12 img-fluid rounded-3 mt-3"
            src="../asset/ducativ4.webp"
            alt=""
          />
          <h5 class="fw-bold m-0 mt-3">Tentang Buku</h5>
          <p class="m-0 mt-3">
            Panigale V4 merupakan langkah terakhir dalam jalur karakteristik sepeda motor sport Borgo Panigale. 
            Seperti halnya sepeda motor yang digunakan di MotoGP dan WorldSBK, Panigale V4 diperbarui dan disempurnakan dari 
            tahun ke tahun. Serangkaian peningkatan elektronik telah diperkenalkan yang membuat motor ini lebih mudah dan lebih 
            intuitif bagi pengendara dari semua tingkatan.Pembaruan yang paling signifikan mempengaruhi setiap aspek 
            sepeda motor: aerodinamika, mesin, sasis, ergonomi, dan elektronik. Hasil akhirnya adalah sepeda motor yang 
            lebih cepat di lintasan dan pada saat yang sama semakin intuitif dan tidak terlalu melelahkan, yang memiliki 
            performa tinggi di tangan pengendara profesional dan juga bermanfaat bagi seorang amatir.
          </p>
          <p class="fw-semibold m-0 textSecondaryColor mt-3">By : Ducati</p>
          <p class="fw-semibold m-0 textSecondaryColor">Tahun Terbit : 2018</p>
        </div>
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 p-0 mt-5 mt-md-2">
          <h1 class="fw-bold m-0" style="color: #f5a841;">Ducati V4</h1>
          <h3 class="fw-bold mt-2" style="color: #000;">Rp 2.000.000.000</h3>
          <div class="mt-3">
            <h5 class="fw-bold m-0">Keterangan Barang</h5>
            <p class="m-0 mt-2">Kondisi : Baru</p>
          </div>
          <div class="mt-3">
            <h5 class="fw-bold m-0">Ulasan</h5>
            <p class="m-0">Menampilkan 2 ulasan</p>
            <div>
              <div
                class="d-flex flex-row justify-content-between align-items-center mt-3"
              >
                <div class="d-flex flex-row align-items-center">
                  <img
                    style="width: 40px"
                    class="img-fluid rounded-5"
                    src="../asset/radit.webp"
                    alt=""
                  />
                  <p class="m-0 fw-semibold ms-2">Nichols</p>
                </div>
                <div>
                  <i
                    style="color: rgb(255, 229, 32)"
                    class="bi bi-star-fill m-0 p-0"
                  ></i>
                  <i
                    style="color: rgb(255, 229, 32)"
                    class="bi bi-star-fill m-0 p-0"
                  ></i>
                  <i
                    style="color: rgb(255, 229, 32)"
                    class="bi bi-star-fill m-0 p-0"
                  ></i>
                  <i
                    style="color: rgb(255, 229, 32)"
                    class="bi bi-star-fill m-0 p-0"
                  ></i>
                  <i
                    style="color: rgb(255, 229, 32)"
                    class="bi bi-star-fill m-0 p-0"
                  ></i>
                </div>
              </div>
              <p class="m-0 mt-1">Hebat</p>
            </div>
            <div>
              <div
                class="d-flex flex-row justify-content-between align-items-center mt-4"
              >
                <div class="d-flex flex-row align-items-center">
                  <img
                    style="width: 40px"
                    class="img-fluid rounded-5"
                    src="../asset/jojo.webp"
                    alt=""
                  />
                  <p class="m-0 fw-semibold ms-2">Yosua</p>
                </div>
                <div>
                  <i
                    style="color: rgb(255, 229, 32)"
                    class="bi bi-star-fill m-0 p-0"
                  ></i>
                  <i
                    style="color: rgb(255, 229, 32)"
                    class="bi bi-star-fill m-0 p-0"
                  ></i>
                  <i
                    style="color: rgb(255, 229, 32)"
                    class="bi bi-star-fill m-0 p-0"
                  ></i>
                  <i
                    style="color: rgb(255, 229, 32)"
                    class="bi bi-star-fill m-0 p-0"
                  ></i>
                  <i
                    style="color: rgb(255, 229, 32)"
                    class="bi bi-star-fill m-0 p-0"
                  ></i>
                </div>
              </div>
              <p class="m-0 mt-1">Sangat Bagus 🤯</p>
            </div>
            <div class="mt-4">
              <h5 class="fw-bold m-0">Beri ulasanmu</h5>
              <form class="col-12 mt-3" action="">
                <input
                  class="w-100 rounded-2 border border-1 border-secondary px-3 py-2"
                  type="text"
                  placeholder="Masukkan ulasanmu"
                />
              </form>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5 col-xl-3 p-0 mt-5 mt-xl-3">
          <div class="p-3 border border-1 border-secondary-subtle rounded-4">
            <h5 class="fw-bold m-0">Atur pengiriman motor</h5>
            <div class="d-flex flex-row align-items-center mt-3">
              <div
                class="col-4 col-sm-3 col-md-4 d-flex flex-row justify-content-between align-items-center border border-1 border-dark rounded-3 px-2"
              >
                <i style="cursor: pointer" class="minus bi bi-dash fs-5"></i>
                <p class="num m-0">0</p>
                <i style="cursor: pointer" class="plus bi bi-plus fs-5"></i>
              </div>
              <p class="m-0 ms-3">Stok : <span class="stok">3</span></p>
            </div>
            <p class="m-0 mt-3">Min. Pembelian 1</p>
            <div class="mt-3">
              <p class="fw-bold m-0 mt-2">Harga : Rp 2.000.000.000</p>
              <p class="fw-bold m-0 mt-2">Ongkir : Rp2.500.000</p>
              <h4 class="fw-bold m-0 mt-2" style="color: #f5a841;">
                Total : Rp 2.002.500.000             
             </h4>
            </div>
            <button
              onclick="showBuyNowPopUp()"
              style="background: #f5a841"
              class="col-12 btn py-2 rounded-3 text-light mt-3 fw-semibold"
            >
              Buy Now
            </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../js/count.js"></script>
  <script src="../js/popUp.js"></script>
</html>
